<div class="banner" style="background-image: url('<%= image_path 'banner'%>');">
  <div class="banner-content">
    <main class="scene">
      <div class="actor">
<!--         <div class="actor__prefix">-</div> -->
        <div id="luke" class="actor__content"></div>
      </div>
    </main>
      <%= simple_form_for @item, html: {class: 'banner-form form-inline'} do |f| %>
       <%= f.input :url, placeholder: "paste your url here", label: false%>
       <%= f.submit "start saving", class: "btn form-submit-button" %>
       <% end %>
  </div>
</div>


