<div class="banner" style="background-color: black">
  <div class="banner-content">
    <div> <%= image_tag 'banner'%> </div>
      <%#= simple_form_for @item, html: {class: 'form-inline'} do |f| %>
       <%#= f.input :url, placeholder: "*******", label: false%>
       <%#= f.submit "start saving", class: "btn btn-" %>
       <%# end %>
    <main class="scene">
      <div class="actor">
        <div class="actor__prefix">-</div>
        <div id="luke" class="actor__content"></div>
      </div>
    </main>
  </div>
</div>


