<h1 class="text-center">HOW TO</h1>
<div class="how_to">
  <div class="how_to_item">
    <p>BROWSE IT</p>
    <p> <i class="fa fa-laptop" aria-hidden="true"></i></p>
  </div>
  <div class="how_to_item">
    <p>SAVE IT </p>
    <p><i class="fa fa-plus" aria-hidden="true"></i></p>
  </div>
  <div class="how_to_item">
    <p>TRACK IT</p>
    <p><i class="fa fa-line-chart" aria-hidden="true"></i></p>
  </div>
  <div class="how_to_item">
    <p>BUY IT </p>
    <p><i class="fa fa-shopping-bag" aria-hidden="true"></i></p>
  </div>
</div>
