<h1 class="text-center how_to_banner">HOW TO</h1>
<div class="how_to">
  <div class="how_to_item">
    <p>BROWSE IT</p>
    <p> <i class="fa fa-laptop" aria-hidden="true"></i></p>
    <p class="description"> Browse your favourite websites like you normally do. Once you find something you like, copy the URL </p>
  </div>
  <div class="how_to_item">
    <p>SAVE IT </p>
    <p><i class="fa fa-plus" aria-hidden="true"></i></p>
    <p class="description"> Save your item, by pasting the URL into the designated space at the top of the page. </p>
  </div>
  <div class="how_to_item">
    <p>TRACK IT</p>
    <p><i class="fa fa-line-chart" aria-hidden="true"></i></p>
    <p class="description"> We will track your items and let you know as soon as there is a price drop, so you can grab the bargin.</p>
  </div>
  <div class="how_to_item">
    <p>BUY IT </p>
    <p><i class="fa fa-shopping-bag" aria-hidden="true"></i></p>
    <p class="description"> Then just buy when you are ready!! </p>
  </div>
</div>
