<div class="banner" style="background-image: linear-gradient(-225deg, rgba(8,80,120,1) 0%, rgba(8,80,120,1) 50%)">
  <div class="banner-content">
    <h1>How to</h1>
    <div class="how_to">
      <div class="how_to_item">
        <p>Browse</p>
        <p> <i class="fa fa-laptop" aria-hidden="true"></i></p>
      </div>
      <div class="how_to_item">
        <p>Add</p>
        <p><i class="fa fa-plus" aria-hidden="true"></i></p>
      </div>
      <div class="how_to_item">
        <p>Track </p>
        <p><i class="fa fa-line-chart" aria-hidden="true"></i></p>
      </div>
      <div class="how_to_item">
        <p>Buy</p>
        <p><i class="fa fa-shopping-bag" aria-hidden="true"></i></p>
      </div>
    </div>
  </div>
</div>
