<div class="navbar-wagon">
  <!-- Logo -->

  <%= link_to "Save it", "/", class: "logo" %>
  <div class="line"></div>

 <%#= simple_form_for Item.new, html: {class: 'form-inline'} do |f| %>
    <%#= f.input :url, placeholder: "*******", label: false%>
    <%#= f.submit "start saving", class: "btn btn-medium" %>
  <%# end %>




  <!-- Dropdown list appearing on mobile only -->
</div>

