<div class="tiny-banner">
<%= simple_form_for @item, html: {class: 'banner-form form-inline'} do |f| %>
<%= f.input :url, placeholder: "PASTE YOUR URL HERE", label: false%>
<%= f.submit "START SAVING!", class: "btn form-submit-button" %>
<% end %>
</div>
