<!-- <div class="banner think_banner" style="background-color: black";>
   <%= image_tag 'think.jpg', class:"think"%>
  <p> We are a group of designers revolutionising the shopping experience </p>

</div>
 -->
