<%= render partial: "shared/tiny_banner" %>
<div class="cards-container container">
  <div class="row">
    <% @items.each do |item| %>
    <div class="col-xs-12 col-sm-3">
      <%= render partial: "shared/card", locals: { item: item } %>
    </div>
    <% end %>
  </div>
</div>
