<%= render partial: "shared/tiny_banner" %>

<div class="cards-container">
  <div class="row">
    <% @items.each do |item| %>
    <div class="col-xs-12 col-sm-3">
      <% if item.favorite == true %>
      <%= render partial: "shared/card", locals: { item: item } %>
      <% end %>
    </div>
    <% end %>
  </div>
</div>

