.banner {
  color: white;
  text-align: center;
  height: 65vh;
/* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 968px;
  margin: 0 auto;
  width: 100%;
}

.tiny-banner {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 968px;
  margin: 0 auto;
  width: 100%;
      background-image: url(http://wpmedia.o.canada.com/2014/09/455782102.jpg);
    background-position-y: 119px;
    background-size: cover;
}

.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 30px;
}

.form-horizontal{
  display:inline-block;
}

@import '//fonts.googleapis.com/css?family=Cutive';

$font-family-base: 'Cutive', serif;;
$font-size-root: 14px;
$font-size-base: 1rem;
$line-height-base: 1.4;

$color-black: #222;
$color-white: #ededed;
$color-red: #c92b2b;

$spacing: 2rem;
$spacing-large: $spacing * 3;


@keyframes blink {
  from { opacity: 0; }
  to { opacity: 1; }
}

.actor__content--typing::after {
  content: '|';
  animation: blink 500ms infinite;
}

.scene{
  top: 40%;
  left: 40%;
/* text-align: center; */
position: absolute;
font-size: 70px;
font-family: 'Sarpanch', Helvetica;
color: #F3F315;

}
