@media(max-width: 768px) {
  .cards-container {
    margin: 0 40px;
  }
}


@media(min-width: 768px) {
  .cards-container {
    max-width: 1000px;
    margin: 20px auto;
    width: 100%;
  }
}


.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 370px;
  width: 100%;
  color: black;
  // border: 1px solid black;
  margin-bottom: 30px;
  justify-content: space-between;
}

.img-frame{
  // height:250px;
  width: 100%;
  // background-color: white;
}

#img{
  height:225px;
  width: 100%;
  position: center;
}

#price-notification {
  height: 29px;
  position: absolute;
  right: 2.5%;
  top: -2%;
  opacity: 0.9;
}

.icon-tags{
  // align-self: right;
  // margin-bottom: 15px;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  a {
    margin: 0 5px;
    text-decoration: none;
    color: black;
    &:hover, &:active, &:focus, &:visited {
      text-decoration: none;
    }
  }
}

.card-store{
  font-size: 15px;
  font-weight: bold;

}
.card-item-name {
  width:100%;
  overflow: hidden;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
}

.card-item-price {
  font-size: 12px;
  font-weight: lighter;
}

.card-button{
  color: black;
  background-color: white;
  width: 100%;
  border: 2px solid black;
  height: 35px;
  border-radius: 3px;
  text-align: center;
  font-size: 15px;

}

.card-button:hover{
    text-decoration: none;
    background-color:black;
    color:white;
}


// .card-link:hover {
//   opacity: 0.1;
// }

.modal {
  z-index: 999999999999999999999 !important;
}

.sticky-url{
  position: sticky;
  top: 69px;
  z-index: 9;
  }
