.cards-container {
    max-width: 968px;
    margin: 20px auto;
    width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 450px;
  width: 100%;
  color: black;
  // border: 1px solid black;
  margin-bottom: 30px;
}

.img-frame{
  // height:300px;
  width: 100%;
}

#img{
  width: 100%;
}

.icon-tags{
  align-self: right;
  margin-bottom: 15px;
}

.card-store{
  font-size: 15px;
  font-weight: bold;

}
.card-item-name {
  font-size: 11px;
  font-weight: bold;
  text-align: center;
}

.card-item-price {
  font-size: 12px;
  font-weight: lighter;
}

.card-button{
  width: 100%;
  border: 1px solid gray;
  height: 35px;
  border-radius: 3px;
  text-align: center;
  a:{text-decoration: none;
}
}


// .card-link:hover {
//   opacity: 0.1;
// }

.modal {
  z-index: 999999 !important;
}
