.form-inputs {
  background: white;
  // padding: 10px 20px;
  margin-top: 20px;
  border-radius: 6px;
  box-shadow: none;
  // h2 {
  //   font-size: 5px;
  //   font-weight: bold;
  //   margin-bottom: 30px;
  //   text-align: center;
  // }
  // .btn {
  //   width: 100%;
  //   margin-bottom: 20px;
  // }
}

.form-header{
  font-size: 31px;
  font-weight: bold;
  text-align: center;
}

.form-center-links{
  margin-top: 10px;
  text-align: center;
  & a {
    color: black;
    }
  & a:hover {
    text-decoration: none;
    color: black;
    font-weight: bold;

  }
}

.pages-home {
  .banner-form {
    margin-top: 60px;
  }
}


.banner-form {
  input {
      border-radius: 0;
    border: 2px solid black;
    color: black;
  }
  input[type=url]::placeholder {
    font-size: 14px;
  }
}

.form-submit-button {
  background-color: yellow;
  color: black;
}
