.form-inputs {
  background: white;
  padding: 10px 20px;
  margin-top: 50px;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
  .btn {
    width: 100%;
    margin-bottom: 20px;
  }
}

.pages-home {
  .banner-form {
    margin-top: 60px;
  }
}


.banner-form {
  input {
      border-radius: 0;
    border: 2px solid black;
    color: black;
  }
  input[type=url]::placeholder {
    font-size: 14px;
  }
}

.form-submit-button {
  background-color: yellow;
  color: black;
}
