.how_to_banner{
  color:black;
  background-color: white;
  padding-top:40px;
  font-size: 24px;
}

.how_to{
  display:flex;
  max-width: 968px;
    margin: 0 auto;
    width: 100%;
    margin-bottom: 100px;
    padding: 40px;

}

.how_to_item {
// flex-grow: 1;
width: 25%;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
 p{
  padding-left: 20px;
  padding-right: 20px;
  color: black;
}
}


.description{
  font-size: 12px;
}
