.how_to_banner{
  color:black;
  background-color: white;
}

.how_to{
  display:flex;
  max-width: 968px;
    margin: 0 auto;
    width: 100%;
    margin-bottom: 100px;

}

.how_to_item {
flex-grow: 1;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
 p{
  padding-left: 70px;
  padding-right: 70px;
  color: black;
}
}



