.notification-unread {
  border: 1px solid lightgrey;
  margin: 10px 5px;
  border-radius: 5px;
  padding: 10px;
  text-align: left;
  font-size: 14px;
  p {
    margin-bottom: 0px;
  }
}

.notification-read {
  border: 1px solid lightgrey;
  margin: 10px 5px;
  border-radius: 5px;
  padding: 10px;
  text-align: left;
  opacity: 0.5;
  font-size: 14px;
  p {
    margin-bottom: 0px;
  }
}

.modal-body-notifications {
  padding: 0px;
}

.notification-text {
  border: none;
}
