/* Main navbar */
.navbar-wagon {
  // box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: white;
  // transition: all 0.3s ease;
  height: 110px;
  padding: 0px 30px;
  // display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
  margin-top: 30px;
}

.sticky-nav {
    position: sticky;
    top: 36px;
    z-index: 999999999999999999;
    background-color: white;
    padding: 10px 0;
}

.floating-logo {
  text-transform: uppercase;
  font-size: 16px;
  padding: 25px 0;
  text-decoration:none;
  font-family: 'Sarpanch', Helvetica;
  color: white;
  z-index: 999999999999;
  position: fixed;
  top: 5px;
  left: calc(50% - 30px);
  padding: 0;
  text-decoration: none;

}

.floating-logo:hover {
  text-decoration: none;
  color: yellow;

}

.logo {
  text-transform: uppercase;
  font-size: 32px;
  padding: 25px 0;
  text-decoration:none;
  font-family: 'Sarpanch', Helvetica;
  color: black;
  display: block;
  &:hover, &:active, &:visited, &:focus {
    color: black;
    text-decoration: none;
  }
}

.line{
  background-color:black;
  height: 5px;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 5px;
}
/* Logo */
.navbar-wagon-brand img {
  height: 50px;
}

/* User Avatar */
.navbar-wagon .avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

/* Right section */
.navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 70%;
  margin: auto;

}

/* Basic navbar item */
.navbar-wagon-item {
  cursor: pointer;
  padding: 0 5px;
  color:black;
  text-transform: uppercase;
  font-size: 10px;
}

/* Navbar link */
.navbar-wagon-link {
  color: black;
  font-size: 10px;
  border: none;
}
.navbar-wagon-link:hover {
  color: pink;
  text-decoration: none;
}

/* Dropdown menu */
.navbar-wagon-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}
.navbar-wagon-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-wagon-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}
.navbar-wagon-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}


.notification-true {
  border-bottom: 2px solid rgba(243, 243, 21, 1);
  font-weight: bold;
}


